body, div, ul, li, h1, h2, h3, h4, p, span, a, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

a:hover {

}

body {
    background: url("../img/top_bg.png") repeat-x;
}

.clearFix:after {
    content: '';
    display: block;
    clear: both;
}

#top {
    width: 960px;
    height: 30px;
    margin: 0 auto;
}

#top .top-nav {
    width: 478px;
    float: left;
}

.top-nav ul li {
    float: left;
    padding: 0 15px;
    background: url("../img/top_nav.png") no-repeat right center;
}

.top-nav ul li:first-child {
    padding-left: 0;
}

.top-nav ul li:last-child {
    padding-right: 0;
    background: none;
}

.top-nav a {
    color: #c0c0c0;
    font-size: 13px;
    line-height: 30px;
}

.top-nav a:hover {
    color: #ffffff;
}

#top .top-r {
    width: 320px;
    float: right;
}

.top-r ul li {
    float: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
}

.top-r .phone {
    text-align: right;
    width: 104px;
    margin-right: 38px;
    background: url("../img/top_phone.png") no-repeat left 3px;
}

.top-r .help {
    text-align: right;
    width: 96px;
    margin-right: 29px;
    background: url("../img/top_help.png") no-repeat left 5px;
}

.top-r .help a {
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    color: #ffffff;
}

.top-r .canada {
    margin-right: 13px;
}

#header {
    width: 960px;
    height: 100px;
    background: url("../img/header_bg.png") no-repeat center;
    margin: 0 auto;
    position: relative;
}

#header .shopping {
    width: 260px;
    height: 100px;
    float: left;
    background: url("../img/shopping.png") no-repeat 6px 8px;
}

#header .shopping h3 {
    font-size: 20px;
    color: #f7f7f7;
    margin: 32px 0 0 85px;
    font-weight: normal;
}

#header .shopping p {
    width: 114px;
    height: 23px;
    background: url("../img/shopping.png") no-repeat 0 -97px;
    font-size: 15px;
    font-weight: bold;
    color: #ffc200;
    line-height: 23px;
    text-align: center;
    margin-left: 104px;
    margin-top: 12px;
}

#header .logo {
    width: 228px;
    height: 98px;
    margin: 0 auto;
}

.search {
    position: absolute;
    width: 324px;
    height: 31px;
    top: 33px;
    right: 0;
}

.text {
    width: 230px;
    padding-left: 20px;
    height: 31px;
    background: url("../img/search_bg.png") no-repeat;
    font-size: 13px;
    font-weight: bold;
    color: #666666;
    position: absolute;
    right: 42px;
    top: 0;
}

.btn {
    width: 42px;
    height: 31px;
    background: url("../img/btn_bg.png") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#nav {
    width: 960px;
    height: 36px;
    padding-top: 8px;
    margin: 0 auto 24px;
}

#nav li {
    float: left;
    margin-right: 2px;
}

#nav a, #nav strong, #nav span {
    float: left;
    height: 28px;
}

#nav a {
    line-height: 28px;
    font-size: 15px;
    color: #ffffff;
}

#nav strong {
    font-weight: normal;
}

#nav span {
    padding: 0 16px;
}

#nav a:hover, #nav .active a {
    background: url("../img/nav_bg.png") repeat-x 0 -28px;
}

#nav a:hover strong, #nav .active strong {
    background: url("../img/nav_bg.png") no-repeat;
}

#nav a:hover span, #nav .active span {
    background: url("../img/nav_bg.png") no-repeat right -56px;
}

#main {
    width: 1000px;
    margin: 0 auto;
    background: url("../img/main_bg.png") repeat-y -1000px 0;
}

#main-top {
    background: url("../img/main_bg.png") no-repeat;
    width: 1000px;
}

#main-bottom {
    width: 1000px;
    background: url("../img/main_bg.png") no-repeat -2000px bottom;
}

#banner {
    width: 940px;
    height: 300px;
    position: relative;
    top: 10px;
    left: 0;
    margin: 0 auto 30px;
}

#banner ul, #banner li, #banner h2, #banner p, #banner .banner-bg {
    position: absolute;
}

#banner ul {
    top: 0;
    left: 0;
    z-index: 1;
}

#banner li {
    top: 0;
    left: 0;
}

#banner h2 {
    width: 268px;
    text-align: center;
    font-size: 25px;
    color: #ffc600;
    font-weight: bold;
    left: 0;
    bottom: 9px;
    z-index: 3;
}

#banner p {
    width: 630px;
    left: 268px;
    bottom: 8px;
    z-index: 3;
    line-height: 16px;
    font-size: 13px;
    color: #ffcccc;
}

#banner .banner-bg {
    width: 940px;
    height: 52px;
    background: #000;
    opacity: 0.8;
    left: 0;
    bottom: 0;
    z-index: 2;
}

#content {
    width: 942px;
    margin: 0 auto;
    padding-bottom: 30px;
}

#sidebar {
    width: 210px;
    float: left;
}

.browse {
    margin-bottom: 13px;
}

.browse h3 {
    background: url("../img/browse_bg.png") no-repeat;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    line-height: 29px;
}

.browse_list {
    background: url("../img/rowse_list_bg.png") repeat-y;
}

.browse_list ul {
    background: url("../img/rowse_list_bg.png") no-repeat -210px bottom;
    padding: 18px 8px 15px;
}

.browse_list a {
    display: block;
    height: 27px;
    line-height: 27px;
    border-bottom: 1px solid #ffffff;
    color: #434343;
    font-weight: bold;
    padding-left: 32px;
    font-size: 12px;
}

.browse_list a:hover {
    color: #b20e00;
    border-bottom: 1px solid #b20e00;
    background: #fae191;
}

.join {
    background: url("../img/join_bg.png") repeat-y -420px 0;
    margin-bottom: 33px;
}

.join-t {
    background: url("../img/join_bg.png") no-repeat;
}

.join-b {
    background: url("../img/join_bg.png") no-repeat -210px bottom;
}

.join-now {
    width: 180px;
    padding-top: 16px;
    margin: 0 auto;
}

.join-now P {
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    padding-bottom: 10px;
}

.join-now .join-text {
    width: 175px;
    height: 25px;
    border: 1px solid #ffffff;
    border-top-color: #9c9c9c;
    border-left-color: #c0c0c0;
    margin-bottom: 7px;
}

.join-now .join-btn {
    width: 88px;
    height: 25px;
    background: url("../img/join_btn_bg.png") no-repeat;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 45px;
    margin-bottom: 13px;
    cursor: pointer;
}

.join-list ul {
    padding: 0 8px;
    background: url("../img/join_ul.png") no-repeat 10px 10px;
}

.join-list ul li {
    border-top: 1px solid #ffffff;
    font-size: 13px;
    color: #434343;
    padding-left: 62px;
}

.join-list ul .t {
    height: 27px;
    padding-top: 18px;
}

.join-list ul .f {
    height: 41px;
    line-height: 16px;
    padding-top: 7px;
}

.join-list ul .in {
    height: 41px;
    line-height: 16px;
    padding-top: 9px;
}

.join-list ul .email {
    height: 43px;
    line-height: 15px;
    padding-top: 7px;
}

.paypal {
    margin-left: 18px;
}

#wrap {
    width: 706px;
    float: right;
}

.sort {
    width: 706px;
    height: 20px;
    position: relative;
    margin-bottom: 28px;
}

.sort h3, .sort ul, .sort p {
    position: absolute;
    top: 0;
}

.sort h3 {
    left: 0;
    font-size: 12px;
    line-height: 20px;
    color: #747474;
    font-weight: bold;
}

.sort ul {
    left: 48px;
}

.sort ul li {
    float: left;
    position: relative;
    margin-right: 12px;
}

.sort ul input {
    width: 102px;
    padding-left: 5px;
    height: 18px;
    border: 1px solid #cccccc;
    font-size: 12px;
    color: #747474;
}

.sort ul a {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url("../img/Sortby_input.png") no-repeat;
}

.sort ul a:hover {

}

.sort .opation {
    width: 107px;
    position: absolute;
    left: 0;
    top: 20px;
    border: 1px solid #cccccc;
    display: none;
}

.sort .opation li {
    width: 102px;
    height: 20px;
    line-height: 20px;
    color: #747474;
    font-size: 12px;
    padding-left: 5px;
    background: #cccccc;
}

.sort .opation li:hover {
    background: #666666;
    color: #ffffff;
}

.sort p {
    right: 0;
    font-size: 12px;
    line-height: 20px;
    color: #747474;
}

.sort p strong {
    font-weight: bold;
    color: #999999;
    margin-right: 10px;
}

.sort p i {
    margin: 0 7px;
}

.sort p span {
    color: #b20e00;
}

.our-products h2 {
    color: #666666;
    font-size: 18px;
    padding-bottom: 18px;
}

.products-wrap {
    margin-bottom: 48px;
}

.products-last-wrap {
    margin-bottom: 46px;
}

.products-wrap ul li {
    float: left;
    width: 154px;
    height: 154px;
    margin-right: 27px;
}

.products-wrap li img {
    border: 1px solid #c6c6c6;
}

.products-wrap li img:hover {
    border: 1px solid #747474;
}

.products-wrap ul li:last-child {
    margin-right: 0;
}

.products-wrap ul h3 {
    font-size: 15px;
    color: #666;
    padding: 2px 0 1px;
}

.products-wrap ul p {
    font-size: 13px;
    color: #333333;
}

.products-wrap ul span {
    color: #b20e00;
}

.page {
    text-align: center;
    margin-bottom: 4px;
}

.page a {
    display: inline-block;
    padding: 2px 6px;
    color: #b20e00;
    font-size: 12px;
}

.page .next {
    margin-left: 3px;
}

.page a.active {
    background: #b20e00;
    color: #ffffff;
}

.featured {
    width: 706px;
    height: 248px;
    border-top: 1px solid #cdcdc8;
}

.featured h2 {
    font-size: 18px;
    color: #666666;
    padding-top: 22px;
    padding-left: 9px;
}

.slide {
    height: 202px;
    background: url("../img/slide_bg.png") repeat-x 0 -202px;
    position: relative;
}

.slide-left {
    height: 202px;
    background: url("../img/slide_bg.png") no-repeat;
}

.slide-right {
    height: 202px;
    background: url("../img/slide_bg.png") no-repeat right -404px;
}

.slide .prev, .slide .next {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 43px;
    margin-top: -21px;
}
.slide .prev{
    background: url("../img/slide_btn.png") no-repeat;
    left: 0;
}

.slide .next{
    background: url("../img/slide_btn.png") no-repeat 0 -43px;
    right: 0;
}

.slide ul{
    width: 558px;
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -279px;
}

.slide li{
    float: left;
    width: 145px;
    margin-right: 58px;
}

.slide li:last-child{
    margin-right: 0;
}

.slide li img{
    border: 1px solid #c2c2c2;
}

.slide li img:hover{
    border: 1px solid #747474;
}

.slide li p{
    padding-top: 7px;
    font-size: 12px;
    color: #660000;
    text-align: center;
}


